
#menu-lateral{
	padding-left: 10%;
	padding-top: 34px;
	padding-bottom: 34px;
	padding-right: 10%;
	padding-bottom: 69.5%;			}

.btn-lat{
	width: 100%;
}

#contenido{
	padding-left: 7%;
	padding-right: 7%;
	padding-top: 0px;
	padding-bottom: 34px;
}

.imgPag{
	width: 100%;

}

.info1{
	width: 100%;
	padding: 0;
	margin: 0;
}

.fondo{
	background-color: #ffffff;
}

.frente{
	background-color: #ffffff;
}

.contenido-info{
	background-color: #ffffff;
}
#footer{
	background-color: #e5e5e5;
	padding-top: 5px;
	padding-left: 10%;
	padding-right: 10%;
}
#header{
	text-align: center;
}